<app-header></app-header>

<section>
  <mat-card>
    <mat-card-title>
      <h3>
        <a routerLink="/selfcare/auth/signup">&nbsp; &nbsp;No Account Yet?</a>
        <a routerLink="/selfcare/auth/signin">&nbsp; &nbsp;Login To Continue</a>
      </h3>
    </mat-card-title>
    <mat-card-content>
      <mat-horizontal-stepper [linear]="true" #stepper [animationDuration]="duration">
        <mat-step [stepControl]="passwordResetForm">
          <ng-template matStepLabel>Fill out Email And Password</ng-template>
          <form [formGroup]="passwordResetForm" (ngSubmit)="onSubmit()">
            <mat-form-field appearance="outline" class="p-1">
              <mat-label>Email </mat-label>
              <mat-hint align="end"></mat-hint>
              <input type="email" matInput email="true" formControlName="email" placeholder="Email Address">
              <mat-icon matPrefix class="material-icons">mail_outline</mat-icon>
            </mat-form-field>
            <div class="spacer"></div>

            <mat-form-field appearance="outline" class="p-1">
              <mat-label>Old Password </mat-label>
              <mat-hint align="end"></mat-hint>
              <mat-icon matPrefix class="material-icons">security</mat-icon>
              <input type="password" matInput formControlName="old_password" placeholder="Old Password">
            </mat-form-field>
            <div class="spacer"></div>

            <mat-form-field appearance="outline" class="p-1">
              <mat-label>New Password </mat-label>
              <mat-hint align="end"></mat-hint>
              <mat-icon matPrefix class="material-icons">security</mat-icon>
              <input type="password" matInput formControlName="new_password" placeholder="New Password">
            </mat-form-field>
            <div class="spacer"></div>


            <mat-card-actions class="align-buttons-center">
              <button type="reset" mat-raised-button color="warn" class="text-white">
                <mat-icon class="material-icons">cancel</mat-icon>
                Clear
              </button>

              <button type="submit" mat-raised-button [disabled]="!passwordResetForm.valid" matStepperNext>
                <mat-icon class="material-icons">edit_circle</mat-icon>
                Reset Password
              </button>
            </mat-card-actions>
          </form>
        </mat-step>
        <mat-step [stepControl]="mfaVerificationForm">
          <ng-template matStepLabel>OTP from {{ email_address }}</ng-template>

          <form [formGroup]="mfaVerificationForm">
            <mat-form-field appearance="outline" class="p-1">
              <mat-label>OTP Code </mat-label>
              <mat-hint align="end">
                The OTP sent to {{ email_address }}
                ***valid for 5 minutes ***
              </mat-hint>
              <input type="text" matInput formControlName="otp_code" placeholder="389384">
              <mat-icon matPrefix class="material-icons">info_outline</mat-icon>
            </mat-form-field>
            <div class="spacer"></div>
          </form>
          <mat-card-actions class="align-buttons-center">
            <button mat-raised-button matStepperPrevious>
              <mat-icon class="material-icons">chevron_left</mat-icon>
              Back
            </button>
            <button type="reset" mat-raised-button color="warn" class="text-white">
              <mat-icon class="material-icons">cancel</mat-icon>
              Clear
            </button>
            <button type="submit" mat-raised-button (click)="onSubmitOTP()" matStepperNext>
              <mat-icon class="material-icons">lock_open</mat-icon>
              Save And Continue
            </button>
          </mat-card-actions>
        </mat-step>
      </mat-horizontal-stepper>
    </mat-card-content>
  </mat-card>
</section>



